

#color_showcase{
    margin: 0;
    border: 0;
}

.projectName{
    text-align: center;
    margin-top: 20px;
}

.color_box{
    text-align: center;
    height: 100px;
    width: 160px;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
}


li{
    list-style: none;
    display: inline-block;
}

.name_span{
    color: #6a6666;
    background: #f8f8f8;
/*    margin-left: 2%;*/
    font-family: sans-serif;
    font-weight: bold;
    padding: 3px;
    font-size: 12px;
    border-radius: 5px;
}



.color_box:hover{
    margin: 15px;
    padding: 15px;
    transition: margin 0.2s, padding 0.2s;
}

.color_box:active{
    margin: 5px;
    padding: 25px;
    transition: margin 0.2s, padding 0.2s;
}